/* for all */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    scroll-behavior: smooth;
}
/* animation */
@keyframes appear {
    from {
        opacity: 0.5;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
section{
    animation: appear linear; 
    animation-timeline: view();
    animation-range: entry cover 40%; 
}
/* navigation bar */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;  
}
.nav-link{
    color:black;
    font-weight: 700;
}
.nav-link:hover{
    color:white;
    background-color:black;
}
/* my name and background section */
@media (max-width:450px){
    section h1, section p{
    text-align: center;
    }
}
.page {
    height: 100vh;
    background-image: url(https://github.com/KennyTangg/HCI_LAB3/blob/main/images/background1.jpg?raw=true);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* about me section */
@keyframes load1{
    0%{
        width:0;
    }
    100%{
        width:85%;
    }
}
@keyframes load2{
    0%{
        width:0;
    }
    100%{
        width:75%;
    }
}
@keyframes load3{
    0%{
        width:0;
    }
    100%{
        width:98%;
    }
}
@keyframes load4{
    0%{
        width:0;
    }
    100%{
        width:30%;
    }
}
.progress{
    background-color: rgb(223,219,219);
    border-radius: 50px;
    display:flex;
    justify-content: flex-start;
    align-items:center;
    position:relative;
    height:1.2rem;
    width:70%;
    -webkit-box-shadow: inset 23px 40px 97px -159px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 23px 40px 97px -159px rgba(0,0,0,0.75);
    box-shadow: inset 23px 40px 97px -159px rgba(0,0,0,0.75);
}
.center{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.progress p{
    color:white;
    padding-left:0.75rem;
    font-weight: 700;
}
.pro-value1{
    animation: load1 3s normal forwards;
}
.pro-value2{
    animation: load2 3s normal forwards;
}
.pro-value3{
    animation: load3 3s normal forwards;
}
.pro-value4{
    animation: load4 3s normal forwards;
}
.pro-value1,.pro-value2,.pro-value3,.pro-value4{
    border-radius: 2rem;
    background-color: black;
    height:1.2rem;
    width:0;
}
/* project section */
.project-card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    transition: 0.3s;
}
.project-card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}